.env
.venv
secret.json
secret_inactive.json
venv
__pycache__
wandb
models
circuits
results
src/db.sqlite3
paper
archive/old_results
adversarial_adapters.py.lprof
**/*.sqlite3
src/tmp.py
src/grad_misalignment.py
src/debug.txt
